{% extends 'base.twig' %}

{% block title %}User page{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
        <div class="col-xl-9 col-lg-10 col-md-11 col-sm-12">
            {% if error is defined and error is not empty  %}
                <h3 class="text-center">{{ error }}</h3>
            {% else %}
                {% if users is defined and users is not empty %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="text-center bg-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="text-center align-middle">
                            <tr>
                                <td>{{ users['id'] }}</td>
                                <td class="text-start">{{ users['name'] }}</td>
                                <td class="text-start">{{ users['email'] }}</td>
                                <td>{{ users['gender'] }}</td>
                                <td>{{ users['status'] }}</td>
                                <td>
                                    <div class="container d-inline-flex justify-content-center">
                                        <a href="edit/{{ users['id'] }}">
                                            <button class="btn btn-outline-warning m-1" type="button"><i class="bi bi-pencil-square"></i> Edit</button>
                                        </a>
                                        <form role="form" class="form-container" onsubmit="delete_confirm(event)" action="{{ users['id'] }}" method="post">
                                            <button class="btn btn-outline-danger m-1" type="submit"><i class="bi bi-trash"></i> Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h3 class="text-center">User was not found!</h3>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
